{% extends 'citas/base.html' %}

{% block content %}


    <h3 class="text-center">Agrega un Nuevo lugar</h3>

    <form  action=" {% url 'citas:edicion' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="AGREGA UN NUEVO LUGAR">
	</form>

	
{% if user.is_authenticated %}
    	<div class="row">
    		<div class="col-lg-12 col-md-12 col-12 col-xs-12">
    			<a href="{%url 'logout'%}">cierra tu sesión</a>
    		</div>
    	</div> 
   	{% endif %} 

{% endblock %}