{% extends 'citas/base.html' %}

{% block content %}





<div class="row" >
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 jumbotron text-center" id="header">

            
                
                <h1 >Walking on bits</h1>
                <h6 class="text-info">¡¡¡ Hola descubridor !!! bienvenido a walking on bits, aqui podras encontrar contenido de ocurrencias multiples, principalmente divulgacion cientifica.</h6>
            


        </div>
</div>


<div class="row" id="cuerpo_medio"  >
    <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
    
    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
        <div id="titu">
            <h2 class="text-center "><a href="{%url 'citas:articulos' %}" class="text-danger">¿Qué hay en un bit de memoria?-parte 1-</a></h2>
        </div>
        <br>

        <div id="titu">
            <h2 class="text-center "><a href="{%url 'citas:articulos' %}" class="text-danger">¿Qué hay en un bit de memoria?-parte 2-</a></h2>
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
</div>


<br>
   
{% endblock %}