/*
[class*= "col-"]{
	float:left;
	border:1px solid black;
	padding:auto;
}

*/
#logo{
	  margin: 0 auto;

}

#header{
	background-color: white;
	z-index: 2;
	position: fixed;
}

#descripcion{
	font-size: 27px;
	padding-top: 120px;
}


a:hover{
 
  border-radius: 5px;
 
  text-align: center;
  line-height: 1;
 
  max-width: 50%;
  max-height: 50%;
  padding: 20px 40px;

  color: black;
  font-size: 30px;
  font-style: bold;
  text-shadow: 1px 1px #000000;
  text-transform: capitalize;
}

#titu{
	

	padding-top:30px;
	padding-bottom: 30px;
	background-color: beige;
	/*border:1px solid black;*/
	
}

#titu2{
	padding-top:80px;
	padding-bottom: 80px;
	border:1px solid black;
	}

#seleccion{
	background-color: white;

	/* rgba(255, 255, 255, 0.3);*/
	padding-top: 30px;
	padding-bottom: 30px;
}

#cuerpo{

	background-color:  lightslategray;
	
	/* background: linear-gradient(to bottom right,  #dec7fa,   #fbd7ef   );*/
						
						/*primero morado luego azul#e0e7f6*/
	
}

#cuerpo_medio{
	margin-top: 25%;
	margin-bottom: 25%;
}


#cuerpo_medio1{
	margin-top: 10%;
	margin-top: 10%;
}



/*
pa_autoconfigure_django.py --nuke https://github.com/Axel164ful/Tienda.git

$ cd ~/axel64ful.pythonanywhere.com 


workon axel64ful.pythonanywhere.com 
(ola.pythonanywhere.com)$ python manage.py collectstatic
[...]
*/

#pie {
	 background: black;
	 height: 50px;
}
#gatito{
	height: 50px;
	background-color: white;

}

#gifs{
  

  height: 50px;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-duration: 25s;

}

@keyframes slidein
{
	from{margin-left:100%;}

	to{	margin-left:0%;}
}





@media (min-width: 1200px){}










@media (max-width: 1199px) and (min-width:992px){}





@media (max-width: 991px) and (min-width:768px){
	#cuerpo_medio{

	margin-top: 55%;
	margin-bottom: 100%;
		
			}


	#cuerpo_medio1{

	margin-top: 50%;
	margin-top: 50%;

					}
	


}
















@media (max-width: 767px){
	#cuerpo_medio{

	margin-top: 55%;
	margin-bottom: 100%;
		
			}


	#cuerpo_medio1{

	margin-top: 50%;
	margin-top: 50%;

					}


}